
<div class="header">
  <h1>Agriculture is Good for Black Community<h1>
  </div>
<!-- Intro 1 -->

<!-- Chart Graph 2-->
<div class="food-page">

  <p>African Americans should look into owning and producing their food to their community.
    In this paper I will be talking about why it is great for young African Americans
    to own their own agriculture to supply their community, how healthy products could decrease obesity in the African Americans. Also, with the change in demand for more organic and quality of food, big food corporations are losing profits around customers change in taste. <p>


  <p> As the decline of process food is taking a hit, African Americans are still
    amongst some of the highest obesity versus other race. To counter this attack,
    having many American Americans millenials grow and product food could decrease obesity
    and also give healthy and sustainable products to the community.
    Fast Food is a major part of African American youth diet.
    Most youth believe that fast food is not good for you but still eat it.
    African Americans youths can grow agriculture and could supply their local communities with quality. This is because healthy and organic food is not present at the store and in fast food resturants." Washingtonpost stated, 'Millennials, in short, may be the most prodded, poked and examined generation in history, and countless people in the hospitality industry are trying to figure out how to make these folks happy.'"
    <p>


    <div ng-controller="circCtrl" class="circle">
    <circ-graph data="circleData"></circ-graph>
    </div>

  <p>It is a good time for African American millennials to
    estabish farm and craft agriculture to supply healthy and sustainable
    food products. Their is a huge change in customer taste and big corporations are scrambling to adapt to change in consumers taste. The top 5 food companies lost 18 billions dollars since 2009. Consumers are looking for more organic food. <p>


    <stock-graph  data="charts"></stock-graph>
    <!-- </div> -->
  <!-- chart Graph chapter 4 -->

  <p>Less millenials are farming which gives an increase in demand for natural food in the future. According to USDA, there are 257,454 in 2012 age 34 and younger are farming
     which is small compared to the total number of 2,109,363. The total of millenial
    farmers are also less than women farmers. African Americans make up 2 percent
    of all the growers in America. If more African Americans farm, it will bring diversity
    in agriculture industry. Its also could bring better innovation, and more ideas about around the hospitality industry.<p>

    <div ng-controller="rectCtrl" class="rect">
      <rect-graph data="bars"></rect-graph>
    <div>
  <p>The demand for organic and quality of food for millenials, specially African Americans, would benefit more economically. Corporations are losing revenue
    around customers taste and are scrambling to find a better solution. African Americans are amongst the highest of obesity and the decline in revenue from corporation would supply better healthy products. The change of consumer taste and the increase in the demand for more organic and healthy food, would be a huge variable for the decrease of obesity. <p>

    <p class="resources">Links to resources:
      <ul>
        <li>
          <a href="http://www.cdc.gov/obesity/data/adult.html">
            Division of Nutrition, Physical Activity, and Obesity
          </a>
        </li>
        <li>
          <a href="http://www.gallup.com/poll/163868/fast-food-major-part-diet.aspx">
            Fast Food Still Major Part of U.S. Diet
          </a>
        </li>
        <li>
          <a href="http://fortune.com/2015/05/21/the-war-on-big-food/">
            Special Report: The war on big food
          </a>
        </li>
        <li>
          <a href="http://www.bloomberg.com/bw/articles/2014-01-07/mcdonalds-promises-sustainable-beef-and-no-one-knows-what-that-is">
            McDonald's Promises Sustainable Beef—and No One Knows What That Is
          </a>
        </li>
        <li>
          <a href="http://www.oprah.com/world/Save-Black-Farmers-Project-African-American-Farmers">
            The Woman Who's Inspiring a New Generation of Black Farmers
          </a>
        </li>
        <li>
          <a href="http://www.noble.org/ag/economics/naturalbeef/">
            Premiums Being Offered for Natural Beef Cattle 2009
          </a>
        </li>
        <li>
          <a href="http://www.washingtonpost.com/lifestyle/food/for-millennials-food-isnt-just-food-its-community/2013/10/22/b6068902-35f2-11e3-8a0e-4e2cf80831fc_story.html">
            For millennials, food isn’t just food. It’s community.
          </a>
        </li>
      </ul>
    </p>
</div>
    